<!-- Header Wrapper -->
<div class="wrapper style1">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Logo -->
			<h1><a href="#" id="logo">{{title}}</a></h1>

			<!-- Nav -->
			<nav id="nav">
				<h3>my 2017 personal dashboard</h3>
				<ul>
					<li><span class="legend">kms running</span><span class="number" id="running">x</span><span class="number_past" id="running_total">x</span> <span class="legend_past">since May 5, 2015</span><span class="legend_past"> <a href="https://www.strava.com/athletes/8535704">strava.com</a></span></li>
					
					<li> <span class="legend">runs</span><span class="number" id="runs">x</span><span class="number_past" id="runs_total">x</span> <span class="legend_past">since May 5, 2015</span><span class="legend_past"> <a href="https://www.strava.com/athletes/8535704">strava.com</a></span></li>
					
					<li><span class="legend">flights</span><span class="number" id="flights">x</span><span class="number_past" id="flights_total">x</span> <span class="legend_past">since May 12, 2015</span><span class="legend_past"> <a href="http://flightdiary.net/ruicosta">flightdiary.net</a></span></li>
					
					<li> <span class="legend">flight miles</span><span class="number" id="flightmiles">x</span><span class="number_past" id="flightmiles_total">x</span> <span class="legend_past">since May 12, 2015</span><span class="legend_past"> <a href="http://flightdiary.net/ruicosta">flightdiary.net</a> </span></li>
					
					<li><span class="legend">blog posts</span><span class="number" id="posts">x</span><span class="number_past" id="posts_total">x</span> <span class="legend_past">since January 20, 2017</span><span class="legend_past"> <a href="https://medium.com/@ruicostapt">medium.com</a></span></li>
					
					<!--					<li> <span class="legend">photos taken</span><span class="number" id="photos">x</span><span class="number_past" id="photos_total">x</span> <span class="legend_past">total </span></li>-->
				</ul>
			</nav>

		</div>
	</div>

	<!-- Banner -->
	<div id="banner">
		<section class="container-header">
			<h2>{{title}}</h2>
			<p>Managing Director (USA) at <a href="https://veniam.com" target="_blank">VENIAM</a></p>
			<p>Founder and Coordinator at <a href="https://academic.ieee.org" target="_blank">IEEE Academic</a></p>

		</section>
	</div>

</div>

<div id="mobileOKRs" class="wrapper style6">
	<section class="container">
		<h3>my 2017 mobile personal dashboard</h3>
		<ul>
				<li><span class="number" id="running_mobile">x</span> <span class="legend">kms running. Out of </span><span class="number_past" id="running_total_mobile">x</span> <span class="legend_past">since May 5, 2015</span><span class="legend_past"> <a href="https://www.strava.com/athletes/8535704">strava.com</a></span></li>
					
					<li><span class="number" id="runs_mobile">x</span> <span class="legend">runs. Out of </span><span class="number_past" id="runs_total_mobile">x</span> <span class="legend_past">since May 5, 2015</span><span class="legend_past"> <a href="https://www.strava.com/athletes/8535704">strava.com</a></span></li>
					
					<li><span class="number" id="flights_mobile">x</span> <span class="legend">flights. Out of </span><span class="number_past" id="flights_total_mobile">x</span> <span class="legend_past">since May 12, 2015</span><span class="legend_past"> <a href="http://flightdiary.net/ruicosta">flightdiary.net</a></span></li>
					
					<li><span class="number" id="flightmiles_mobile">x</span> <span class="legend">flight miles. Out of </span><span class="number_past" id="flightmiles_total_mobile">x</span> <span class="legend_past">since May 12, 2015</span><span class="legend_past"> <a href="http://flightdiary.net/ruicosta">flightdiary.net</a> </span></li>
					
					<li><span class="number" id="posts_mobile">x</span> <span class="legend">blog posts. Out of </span><span class="number_past" id="posts_total_mobile">x</span> <span class="legend_past">since January 20, 2017</span><span class="legend_past"> <a href="https://medium.com/@ruicostapt">medium.com</a></span></li>
					

			<!--					<li> <span class="legend">photos taken</span><span class="number" id="photos">x</span><span class="number_past" id="photos_total">x</span> <span class="legend_past">total </span></li>-->
		</ul>
		</nav>
	</section>

</div>
<!-- Section One -->
<div class="wrapper style2">
	<section class="container">
		<div class="row double">
			<div class="6u">
				<header class="major">
					<h2>Every accomplishment starts with the decision to try.</h2>
				</header>
			</div>
			<div class="6u">
				<header class="major">
					<span class="byline" style="padding-top:0px">I've added this as my e-mail signature around 2006 and since then I've been challenging myself everyday to become a better version of myself.</span>
				</header>
			</div>
		</div>
	</section>
</div>



<!-- Section Three -->
<div class="wrapper style4">
	<section class="container">
		<header class="major">
			<h2>Blog</h2>
			<span class="byline">Stories, photos, and portraits of the world as I see it.</span>
		</header>
		<div id="posts_display"> </div>

		<div id="posts_footer">Hosted in <a href="https://medium.com/@ruicostapt">medium.com</a></div>
	</section>
</div>


<!-- Footer -->
<div id="footer">
	<section class="container">
		<header class="major">
			<h2>ruicosta.social</h2>
			<span class="byline">Every now and then I post shameless stuff around</span>
		</header>
		<ul class="icons">
			<li class="active"><a href="https://facebook.com/ruiccosta" class="fa fa-facebook"><span>Facebook</span></a></li>
			<li><a href="https://twitter.com/" class="fa fa-twitter"><span>Twitter</span></a></li>
			<li><a href="https://www.instagram.com/ruicostapt/" class="fa fa-instagram"><span>Instagram</span></a></li>
			<li><a href="https://pt.linkedin.com/in/ruimiguelcosta" class="fa fa-linkedin"><span>LinkedIn</span></a></li>
		</ul>
		<hr />
	</section>

	<!-- Copyright -->
	<div id="copyright">
		This site and more code snippets available in my <a href="http://github.com/tallis">Github repo</a> |
		<script>
			document.write(new Date().getFullYear())
		</script>
	</div>
</div>