<!DOCTYPE HTML>
<html>

<head>
	<title>{{title}}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.dropotron.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-layers.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>

<body class="homepage">
	{{{body}}}
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<script>
	$.get("/api/1.0/runs", function (data) {
		console.log(data)
		$("#runs").html(data.runs.ytd_runs);
		$("#running").html(parseInt(data.runs.ytd_distance));
		$("#runs_total").html(data.runs.total_runs);
		$("#running_total").html(parseInt(data.runs.total_distance));
		$("#runs_mobile").html(data.runs.ytd_runs);
		$("#running_mobile").html(parseInt(data.runs.ytd_distance));
		$("#runs_total_mobile").html(data.runs.total_runs);
		$("#running_total_mobile").html(parseInt(data.runs.total_distance));
	});
	
	$.get("/api/1.0/flights", function (data) {
		console.log(data)
		$("#flights").html(parseInt(data.ytd.flights_info.flights.total));
		$("#flightmiles").html(parseInt(data.ytd.flights_info.distance.total_miles));		$("#flights_total").html(parseInt(data.total.flights_info.flights.total));
		$("#flightmiles_total").html(parseInt(data.total.flights_info.distance.total_miles));
		$("#flights_mobile").html(parseInt(data.ytd.flights_info.flights.total));
		$("#flightmiles_mobile").html(parseInt(data.ytd.flights_info.distance.total_miles));		$("#flights_total_mobile").html(parseInt(data.total.flights_info.flights.total));
		$("#flightmiles_total_mobile").html(parseInt(data.total.flights_info.distance.total_miles));
	});
	
	$.get("/api/1.0/posts", function (posts) {

		$("#posts").html(parseInt(posts.ytd_count));
		$("#posts_total").html(parseInt(posts.total_count));
				$("#posts_mobile").html(parseInt(posts.ytd_count));
		$("#posts_total_mobile").html(parseInt(posts.total_count));
		for(var i = 0; i < parseInt(posts.stories.length);i++){
			$("#posts_display").append('<h3><a href="'+posts.stories[i].link+'">'+posts.stories[i].title+'</a></h3><div id="date">Posted on '+moment(posts.stories[i].date).format("MMMM, DD, YYYY")+'</div>');
		}
		
	});
</script>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57032657-1', 'auto');
  ga('send', 'pageview');

</script>

</html>