<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>ruicosta.io</title>

    <meta name="description" content="Personal website of a portuguese engineerpreneur.">
    <meta name="author" content="Rui Costa">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/fullpage.css">
    <link rel="stylesheet" href="css/jquery-jvectormap-2.0.3.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="js/jquery-jvectormap-world-mill.js"></script>

<link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        p {
            font-family: "Maven Pro" !important;
            font-weight: lighter;
        }
        
        h2 {
            font-size: 48pt !important;
        }
        
        p {
            font-size: 20pt !important;
        }
        a{
                text-decoration: none;
            color:rgb(65, 92, 96)
        }
        body{margin:0}
    </style>

    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="css/fonticon.css">


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57032657-1', 'auto');
        ga('send', 'pageview');
    </script>


</head>

<body>

    {{{body}}}

</body>
<script src="js/fullpage.min.js"></script>
<script>
    $(document).ready(function () {
        $('#fullpage').fullpage({
            //Navigation
            menu: '#menu',
            lockAnchors: false,
            anchors: ['firstPage', 'secondPage'],
            navigation: false,
            navigationPosition: 'right',
            navigationTooltips: ['firstSlide', 'secondSlide'],
            showActiveTooltip: false,
            slidesNavigation: true,
            slidesNavPosition: 'bottom',

            //Scrolling
            css3: true,
            scrollingSpeed: 700,
            autoScrolling: true,
            fitToSection: true,
            fitToSectionDelay: 1000,
            scrollBar: false,
            easing: 'easeInOutCubic',
            easingcss3: 'ease',
            loopBottom: false,
            loopTop: false,
            loopHorizontal: true,
            continuousVertical: false,
            normalScrollElements: '#element1, .element2',
            scrollOverflow: false,
            touchSensitivity: 15,
            normalScrollElementTouchThreshold: 5,

            //Accessibility
            keyboardScrolling: true,
            animateAnchor: true,
            recordHistory: true,

            //Design
            controlArrows: true,
            verticalCentered: true,
            resize: false,
            sectionsColor: ['#ccc', '#fff'],
            paddingTop: '3em',
            paddingBottom: '10px',
            fixedElements: '#header, .footer',
            responsiveWidth: 0,
            responsiveHeight: 0,

            //Custom selectors
            sectionSelector: '.section',
            slideSelector: '.slide',

            //events
            onLeave: function (index, nextIndex, direction) {},
            afterLoad: function (anchorLink, index) {},
            afterRender: function () {},
            afterResize: function () {},
            afterSlideLoad: function (anchorLink, index, slideAnchor, slideIndex) {},
            onSlideLeave: function (anchorLink, index, slideIndex, direction, nextSlideIndex) {}
        });
    });
</script>

</html>