<div class="reveal">

    <div class="slides">


        <section>
            <section data-background="imgs/background.png" style="text-align:center">
                <center>
                    <h3 style="color:rgb(75, 73, 73);display: block;position: absolute;top: -20vh;left:0;right:0">ruicosta.io</h3>
                </center>
                <div style="margin-left:25%">
                    <p style="color:rgb(75, 73, 73);text-align:right;font-size:28pt!important">A networks and communications <i>engineerpreneur</i> passionate about changing the World.
                    </p>
                    <br>    
                    <p style="color:rgb(75, 73, 73);text-align:right">Developing the Internet of Moving Things at <a href="http://veniam.com" target="_blank" style="color: white;background-color: #ff5e99;">Veniam</a><br>
                        Creating the platform for better education worldwide with<br><a href="http://academic.ieee.org" target="_blank"  style="color: white;background-color: #ff5e99;">IEEE Academic</a>
                    </p>

                </div>

            </section>

            <section style="text-align:center">
                <center>
                    <h3 style="display: block;position: absolute;top: -20vh;left:0;right:0">ruicosta.social</h3>
                </center>

                <div class="row" style="">
                    <a href="http://facebook.com/ruiccosta" target="_blank"><i class="icon-facebook-squared"></i></a>
                    <a href="http://instagram.com/ruicostapt" target="_blank"><i class="icon-instagramm"></i></a>
                    <a href="http://twitter.com/ruicostatwit" target="_blank"><i class="icon-twitter-squared"></i></a> 
                    <a href="http://pt.linkedin.com/in/ruimiguelcosta/" target="_blank"><i class="icon-linkedin-squared"></i></a> 
                    <i class="icon-feather" target="_blank"></i> 
                </div>
    </div>


    </section>
    </section>


</div>

</div>

